.list-stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  background-color: rgba(var(--color-black-rgb), 0.5);
}

.list-stats__title {
  font-size: 3rem;
  text-align: center;
  color: var(--color-white);
}

.list-stats__users {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  list-style: decimal;
  list-style-position: inside;
  padding: 1rem;
}

.list-stats__user {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-white);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 280px) and (orientation: landscape) {
  .list-stats__title {
    font-size: 2.5rem;
  }

  .list-stats__user {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 540px) and (orientation: portrait) {
  .list-stats__title {
    font-size: 4rem;
  }

  .list-stats__user {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  .list-stats__title {
    font-size: 4rem;
  }

  .list-stats__user {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .list-stats {
    height: 50rem;
    width: 40rem;
  }

  .list-stats__title {
    font-size: 3rem;
  }

  .list-stats__user {
    font-size: 2.5rem;
  }
}
