.form-guess-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.form-guess-flag__input {
  padding: 0.625rem;
  width: 100%;
  font-size: 0.9375rem;
  outline: none;
  border: 0.0625rem solid var(--color-white);
  background-color: rgba(var(--color-black-rgb), 0.5);
  color: var(--color-white);
}

.form-guess-flag__submit {
  padding: 0.625rem;
  font-size: 1.25rem;
  margin-top: 0.625rem;
  border: none;
  background-color: rgba(var(--color-black-rgb), 0.5);
  color: var(--color-white);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .form-guess-flag__input {
    width: 37.5rem;
    font-size: 1.875rem;
  }

  .form-guess-flag__submit {
    font-size: 1.875rem;
  }
}
