.loader {
  position: relative;
  width: 10.8rem;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #645dd7;
  background-image: radial-gradient(circle 1.4rem, var(--color-black) 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation:
    eyeMove 10s infinite,
    blink 10s infinite;
}
@keyframes eyeMove {
  0%,
  10% {
    background-position: 0 0;
  }
  13%,
  40% {
    background-position: -1.5rem 0;
  }
  43%,
  70% {
    background-position: 1.5rem 0;
  }
  73%,
  90% {
    background-position: 0 1.5rem;
  }
  93%,
  100% {
    background-position: 0 0;
  }
}
@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 4.8rem;
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 1.8rem;
  }
}
