.flag {
  width: calc(100% - 1.25rem);
  height: auto;
  object-fit: cover;
  margin: 0.625rem;
}

@media only screen and (min-width: 540px) {
  .flag {
    width: 31.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .flag {
    height: 25rem;
    width: 37.5rem;
    object-fit: cover;
  }
}
